.footer {
  background-color: #3d4050;
  height: 80px;
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_center {
      max-width: 380px;
      width: 100%;
      .footer__link {
        color: #c3c3c3;
      }
    }

    &_right {
      max-width: 283px;
      width: 100%;
      .footer__link {
        color: #fff;
      }
    }
  }

  &__copyright {
    font-size: 13px;
    color: #fff;
    min-width: 307px;
  }

  &__line {
    margin: 0 10px;
  }

  &__link {
    font-size: 13px;
    padding-left: 25px;
    position: relative;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: -1px;
  }

  &__line {
    color: #c3c3c3;
    font-size: 18px;
  }
}
